/* Border box declaration
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
	text-align: center;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px;
}

.row::after {
		content: "";
		display: table;
		clear: both;
	}

	[class*='col-'] {
		width: 92% ;
		margin: 5px 4%;
		min-height: 1px; /* for IE no content madness */
	}

	.col-1-2,
	.col-1-4 {
	background-color: #ffc;
	}

	.col-2 {
		background-color: #fcf;
	}

	.col-3{
		background-color: #cff;
	}
	.col-4{
		background-color: #ccf;
	}

/* grid system -- mobile first! */

/* Mobile Landscape Screen Sizes  and tap*/
@media only screen and (min-width: 480px)  {
	[class*='col-'] {
		min-height: 1px;
		float: left;
	}

	.col-1-2,
	.col-2 {
	width: 42%;
	}
}
/* Desktop screen Sizes */
@media only screen and (min-width: 769px) {
	[class*='col-'] {
		margin-right: 0;
	}
	.col-1-2,
	.col-1-4 {
	width: 20%;
	}

	.col-2 {
		width: 44%;
	}

	.col-3 {
		width: 68%;
	}
}
